<table class="table">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let collumn of collumns" scope="col">
        {{ collumn }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td *ngFor="let invoice of item">{{ invoice }}</td>
    </tr>
  </tbody>
</table>
