<div class="table-responsive">
  <app-table [collumns]="historyCollumns" [items]="historyItems"> </app-table>
  <br />
  <h4 class="consolidated display-4">Valores consolidados</h4>
  <br />
  <app-table [collumns]="consolidatedCollumns" [items]="consolidatedItems">
  </app-table>
</div>
